/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* En-tête */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    position: relative;
}

/* Bannière */
.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Barre de navigation */
nav ul {
    list-style: none
